<footer>
  <div id="sections">
    <div class="section">
      <span class="section_title">POLÍTICAS</span>
      <input id="therms-details" type="checkbox" />
      <label for="therms-details" title="Mostrar/Ocultar Detalles">+</label>
      <div class="section-details">
        <p>Políticas</p>
        <p>Políticas de cambio</p>
        <p>Políticas de envío</p>
        <p>Términos y condiciones</p>
        <p>Responsabilidad social</p>
      </div>
      <div class="line">
        <div></div>
      </div>
    </div>
    <div class="section">
      <span class="section_title">SOBRE NOSOTROS</span>
      <input id="about-us-details" type="checkbox" />
      <label for="about-us-details" title="Mostrar/Ocultar Detalles">+</label>
      <div class="section-details">
        <p>Encuentra tu tienda</p>
        <p>Contáctanos</p>
        <p>Trabaja con nosotros</p>
      </div>
      <div class="line">
        <div></div>
      </div>
    </div>
    <div class="section">
      <span class="section_title">Medios de pago</span>
      <input id="payment-methods-details" type="checkbox" />
      <label for="payment-methods-details" title="Mostrar/Ocultar Detalles">+</label>
      <div class="section-details">
        <p>PayPal</p>
        <p>Mercadopago</p>
        <p>Mastercard</p>
      </div>
      <div class="line">
        <div></div>
      </div>
    </div>
    <div class="section">
      <span class="section_title">SÍGUENOS EN:</span>
      <div id="container-img-links">
        <img alt="facebook-link" class="circular--square" src="assets/icons/icon-facebook.svg" />
        <img alt="twitter-link" class="circular--square" src="assets/icons/icon-twitter.svg" />
        <img alt="instagram-link" class="circular--square" src="assets/icons/icon-instagram.svg" />
        <img alt="yotube-link" class="circular--square" src="assets/icons/icon-youtube.svg" />
      </div>
    </div>
  </div>
  <div id="copyright">
    <div class="line">
      <div></div>
    </div>
    <p>©Copyright Colombia. Todos los derechos reservados</p>
  </div>
</footer>
